 body {
    padding: 0px;
    margin: 0px;
}


header{
    border-bottom: solid #90cb22;
    box-shadow: 0 1px 2px #0000008c;
}


nav {
    padding: 16px;
    background-color: #90cb22;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    text-shadow:0 5px 15px rgb(217, 67, 29);
}



main a {
    text-decoration: none;
    background-color:#6c9b15 ;
    color: white
}
main a:hover{
    text-shadow:0 0px 5px rgb(217, 217, 29)
}
main {
    padding: 16px;
}



h1{
    width: 288px;
    background-color: #da1919fe;
    color: white;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.477);
}



img {
    height: 200px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.51);
}



#recipe_list{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    column-gap: 100px;
}



tr:nth-child(2n+3){
    background-color: lightgrey;

}



footer {
    padding: 20px ;
    background-color: #efda3a;
}
